*{
	margin: 0;
	padding: 0;

}

html{
	width: 100%;
	height: 100%;
	font-size: 1em;
}


body{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.stalks, .hat, .face, .seeds, .lips, .eyebrows, .eyes{
	transition: fill 0.4s;
}

#container{
	width: 100%;
	height: 100%;
}

#text_about{
	width: 40%; 
	height: 50%;
	font-family: arial; 
	display: none; 
	text-align: center;
}

#about_me_text{
	width: 100%; 
	height: 50%; 
	align-items: center;
}

#text_work{
	width: 80%; 
	height: 50%;
	font-family: arial; 
	display: none; 
	text-align: center;
	align-items: flex-end;
	justify-content: space-between;
}

#text_contact{
	width: 40%; 
	height: 50%;
	font-family: arial; 
	display: none; 
	text-align: center;
}

#bioicons{
	cursor: pointer;
	height: 40%; 
	width: 60%; 
	justify-content: space-between;
}

.bioicon{
	cursor: pointer;
	 
	justify-content: space-between;
}

.title_container{
	font-family: arial;
}

.flex-column{
	display: flex;
	flex-direction: column;
}

.flex-center{
	align-items: center;
	justify-content: center;
}

.flex-row{
	display: flex;
	flex-direction: row;
}

.flex-right{
	display: flex;
   	flex-direction: column;
   	align-items: flex-end;
}

.align-self-end{
	align-self: flex-end;
}

.max-width{
	width: 100%;
}

.height-90{
	height: 90%;
}

.height-10{
	height: 10%;
}

.navigation-item{
	height: 100%;
	width: calc(100% / 3);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3.6em;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	cursor: pointer;
}

.width-50{
	width: 50%;
}

@media screen and (max-width: 500px){
	
	#container{
		width: 100%;
		height: 100%;
	}

	.navigation-item{
		font-size: 1.8em;
	}

	#text_work{
		width: 80%;
		font-size: 1.2em;
	}

	#text_about{
		width:60%;
		font-size: 1.2em;
	}

	#text_contact{
		font-size: 1.2em;
	}


	#bioicons{
		width:90%;
	}

	h1{
		margin: 5px;
	}

	h3{
		margin: 5px;
	}

}

@media screen and (min-width: 500px){
	#head_container{
		width: 50%;
	}

	#container{
		width: 60%;
		height: 60%;
	}


	.navigation-item{
		font-size: 1.8em;
	}
}

@media screen and (min-width: 600px){
	#head_container{
		width: 40%;
	}

	#container{
		width: 60%;
		height: 60%;
	}

}


@media screen and (min-width: 760px){
	#head_container{
		width: 28%;
	}

	#text_contact{
		font-size: 1.4em;
	}

	#text_about{
		font-size: 1.4em;
		width: 70%;
	}

	#text_work{
		font-size: 1.4em;
	}

	#head_container{
		width: 50%;
	}

}

@media screen and (min-width: 830px){
	#head_container{
		width: 34%;
	}


@media screen and (min-width: 1024px){
	#head_container{
		width: 28%;
	}

	#container{
		width: 60%;
		height: 60%;
	}

	#text_work{
		width: 60%;
	}
}

@media screen and (min-width: 1440px){
	#head_container{
		width: 20%;		
	}

	#text_contact, #text_about{
		font-size: 1.4em;
	}

	#text_work, #text_about{
		width:40%;
	}
}


